<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>BlindPages - No-Hassle Web Accessibility</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  </head>
  <body>
    <p>Hello and welcome to BlindPages - No-Hassle Web Accessibility!</p>
    <p>Our mission is simple - make your web pages accessible, with <em>zero effort</em> required from you! How do we do that? It's simple - our servers interpret your existing pages and re-serve them to customers in a fully compliant, totally accessible way. Your content is unchanged and your development and IT staff don't have to make any alterations to the main site at all.</p>
    <p>We operate our own servers and monitor them continuously to ensure your disabled customers are getting all your content and services. Our strict automated tests verify that your content is being rendered correctly. Included in the service are updates to match any changes you make to your main site.</p>
    <p>You might need our services if:</p>
      <ul>
        <li>Customers are demanding accessible pages, but you don't have the time or budget for a site rewrite.</li>
        <li>You want to become compliant with laws like the Americans With Disabilities Act or the UK Disability Discrimination Act, but your IT staff have a huge backlog of work to get through first.</li>
        <li>A disabled person's organisation is pushing you to become accessible, but web updates are hard for your organisation to make (for instance, if your web development is outsourced).</li>
      </ul>
    <p>Sound too good to be true? Give us a way to get in touch with you below and we'll be happy to show you what we can do. We can "unlock" one of your pages for you free of charge so you can see how easy and quick the service is. Or we can meet with you and your IT staff to discuss how BlindPages could work for you.</p>
    <% form_tag('/thanks', :method => :get) do %>
      <p>
        <label for="name"><strong>Name:</strong></label> <br/>
        <%= text_field_tag :name %><br/>
        <label for="company"><strong>Company:</strong></label><br/>
        <%= text_field_tag :company %><br/>
        <label for="contact"><strong>Contact info:</strong></label> (How do we get in touch with you? Email, phone, carrier pigeon?)<br/>
        <%= text_field_tag :contact %><br/>
        <%= submit_tag "Send" %>        
      </p>
    <% end %>

    <p>(If you have trouble with the form above, just send an email directly to support123 at blindpages dot com.)</p> 

    <p><a href="privacy">Privacy Policy</a></p>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-10350845-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
