<vxml version='2.0' xmlns='http://www.w3.org/2001/vxml'>
  <form>
    <block>
      <break time='1000'/>
      <prompt>
        Hello world - this is show.xml.erb, with title <%= @page.name %>!
      </prompt>
    </block>
  </form>
</vxml>
